.new_env_2
dockerservice_application/__pycache__/
dockerservice_application/services/__pycache__/
dockerservice_application/tests/__pycache__/
dockerservice_project/__pycache__/
dockerservice_application/migrations/__pycache__/
